<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article Sentiment Analysis Appp</title>
    <script>
        if('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('./service-worker.js');
            });
        }
    </script>
</head>
<body>
    <div class="alert">
        <div class="alert-content">
            <div class="alert-header">
                <span class="alert-header-text">Alert</span>
                <span class="alert-closebtn">&times;</span>
            </div>
            <div class="alert-body">
                <p class="alert-message">This is an alert</p>
            </div>
        </div>
    </div>
    <div class="progress">
        <div class="progress-content">
            <div class="progress-icon"></div>
            <div class="progress-text">Processing...</div>
        </div>
    </div>
    <section id="main" class="mb-4">
        <div class="container">
            <div class="header-main">
                <h1>Article Sentiment Analysis App</h1>
                <h2>Powered by MeaningCloud</h2>
            </div>
            <div class="row">
                <div class="col-md-9 col-lg-7 col-xl-5">
                    <div class="card">
                        <form>
                            <div class="input-group mb-3">
                                <label for="source-input">Source Type:</label>
                                <select class="input-control" id="source-type">
                                    <option value="url">URL</option>
                                    <option value="text">Text</option>
                                </select>
                            </div>
                            <div class="input-group mb-3">
                                <label id="source-input-label" for="source-input">Enter Source URL:</label>
                                <input class="input-control" type="url" id="source-input" placeholder="https://www.example.com/...">
                            </div>
                            <button type="submit" class="btn" id="analyze-btn">Analyze</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9 col-lg-7 col-xl-5 result-summary"></div>
            </div>
            <div class="row">
                <div class="col-md-9 result-sentences"></div>
            </div>
        </div>
    </section>
    <footer id="footer"></footer>
</body>
</html>